HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Security / Firebase Secrets ###
src/main/resources/serviceAccountKey.json
*.json.key

### Local Environment ###
mvnw
mvnw.cmd
.mvn/
*.log
startup_log.txt
run_output.txt
debug_log.txt
build_log.txt
projects.txt
